<h2><%= @restaurant.name %></h2>
<h4><%= @restaurant.address  %></h4>
<h4><%= @restaurant.phone_number  %></h4>
<h4><%= @restaurant.category %></h4>
<h2>All Reviews for <%= @restaurant.name %></h2>
<ul>
<% @restaurant.reviews.each do |review| %>
  <li><%= review.content  %>
 <%= 'â­' * review.rating %></li>
<% end %>
</ul>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
<%= link_to "Go back to restaurants", restaurants_path, class: "btn btn-primary" %>
